@model IEnumerable<BTRS.Models.BusTrip>

@{
    ViewData["Title"] = "BookingList";
}

<h1>BookingList</h1>

<p>
    <a asp-action="BusTripList" asp-controller="Passenger">Back to BusTripList</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusNumber)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.ID">RemoveBooking</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
