@model IEnumerable<BTRS.Models.BusTrip>

@{
    ViewData["Title"] = "BusTripList";
}

<h1>BusTripList</h1>

<p>
    <a asp-action="BookingList" asp-controller="Passenger">Show Booking</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusNumber)
                </td>
                <td>
                    <a asp-action="AddBooking" asp-route-id="@item.ID">Booking</a>  |

                </td>
            </tr>
        }
    </tbody>
</table>

